[submodule "thirdparty"]
	path = thirdparty
	url = https://github.com/xutaxkamay/source-engine-thirdparty
[submodule "ivp"]
	path = ivp
	url = https://github.com/xutaxkamay/source-physics
[submodule "lib"]
	path = lib
	url = https://github.com/xutaxkamay/source-engine-libs.git
[submodule "gamedata"]
	path = gamedata
	url = git@xutaxkamay.com:xutaxkamay/css_enhanced_game_files
