[submodule "thirdparty"]
	path = thirdparty
	url = https://github.com/xutaxkamay/source-engine-thirdparty
[submodule "ivp"]
	path = ivp
	url = https://github.com/xutaxkamay/source-physics
[submodule "lib"]
	path = lib
	url = https://github.com/xutaxkamay/source-engine-libs.git
